$color_hint: #ee5757

$zindex_hint: 9999999999

$shadow_highlight: inset rgba(255, 255, 255, 0.35) 0 1px 0
$shadow_drop: rgba(0, 0, 0, 0.28) 0 1px 2px
$shadow_drop_match: rgba(0, 0, 0, 0.35) 0 1px 4px

.KEYJUMP
  transition: opacity 0.2s
  opacity: 0
  pointer-events: none

.KEYJUMP_active
  opacity: 1

.KEYJUMP_hint
  transition-property: transform, box-shadow
  transition-duration: 0.2s
  transition-timing-function: ease-out
  position: absolute
  z-index: $zindex_hint
  padding: 2px 3px
  color: #fff
  background: $color_hint
  border: 1px solid $color_hint - #333
  border-radius: 2px
  box-shadow: $shadow_highlight, $shadow_drop
  font: 13px/1 "Helvetica Neue", Helvetica, Arial, sans-serif
  letter-spacing: 1px
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)

.KEYJUMP_match
  transition-duration: 0.17s
  transition-timing-function: cubic-bezier(.08, 1.7, .71, 2)
  transform: scale(1.4)
  z-index: $zindex_hint + 1
  box-shadow: $shadow_highlight, $shadow_drop_match
