:root {
  --KEYJUMP-color-text: #fff;
  --KEYJUMP-color-bg: #ee5757;
  --KEYJUMP-color-border: #bb2424;

  --KEYJUMP-shadow-highlight: inset rgba(255, 255, 255, 0.35) 0 1px 0;
  --KEYJUMP-shadow-drop: rgba(0, 0, 0, 0.28) 0 1px 2px;

  --KEYJUMP-zindex: 99999999999999999999;
}

.KEYJUMP {
  transition: opacity 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--KEYJUMP-zindex);
  opacity: 0;
  pointer-events: none;
}

.KEYJUMP_active {
  opacity: 1;
}

.KEYJUMP_hint {
  transition: opacity 0.2s;
  position: absolute;
  padding: 2px 3px;
  color: var(--KEYJUMP-color-text);
  background: var(--KEYJUMP-color-bg);
  border: 1px solid var(--KEYJUMP-color-border);
  border-radius: 2px;
  box-shadow: var(--KEYJUMP-shadow-highlight), var(--KEYJUMP-shadow-drop);
  font: 13px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.KEYJUMP_filtered .KEYJUMP_hint {
  opacity: 0;
}

.KEYJUMP_filtered .KEYJUMP_match {
  opacity: 1;
}
