doctype html
html
  head
    title Key Jump options
    link(rel='icon', type='image/png', href='icon16.png')
    link(rel='stylesheet', href='options.css')
  body
    h1
      img(src='icon48.png')
      |  Key Jump options

    fieldset
      legend Show hints
      .formGroup
        label
          = 'Key '
          input(type='text', name='activationChar', maxlength='1', size='1')
      .formGroup.formGroup-inline
        label
          input(type='checkbox', name='activationShift')
          |  Shift
        label
          input(type='checkbox', name='activationCtrl')
          |  Control
        label
          input(type='checkbox', name='activationAlt')
          |  Alt
        label
          input(type='checkbox', name='activationMeta')
          |  Meta (Command on OS X)

    fieldset
      legend Show hints and open links in new tabs
      .formGroup
        label
          = 'Key '
          input(type='text', name='activationTabChar', maxlength='1', size='1')
      .formGroup.formGroup-inline
        label
          input(type='checkbox', name='activationTabShift')
          |  Shift
        label
          input(type='checkbox', name='activationTabCtrl')
          |  Control
        label
          input(type='checkbox', name='activationTabAlt')
          |  Alt
        label
          input(type='checkbox', name='activationTabMeta')
          |  Meta (Command on OS X)

    fieldset
      .formGroup
        label
          input(type='checkbox', name='autoTrigger')
          |  Automatically trigger hints when possible
        p.subtle If you type "12" and there are no other hints starting with "12" then that hint will be triggered without you having to press the enter key.

    fieldset
      .formGroup
        label
          input(type='checkbox', name='keepHintsAfterTrigger')
          |  Stay in hint mode after triggering a hint

  script(src='options.js')
