/*
  This extends the built in Chrome option styles and should match that design.
*/

:root {
  /*
    Can't use 'rem' unit since the built in styles set the font-size on the
    'body' element instead of 'html' (:root).
  */
  --KEYJUMP-section-margin: 1.5em;

  --KEYJUMP-option-margin: 0.5em;

  --KEYJUMP-shortcut-input-height: 2em;
}

.section + .section {
  margin-top: var(--KEYJUMP-section-margin);
}

.option {
  display: flex;
  align-items: center;
  min-height: var(--KEYJUMP-shortcut-input-height);
  margin-top: var(--KEYJUMP-option-margin);
}

.option-shortcut {
  align-items: baseline;
}

.option-shortcut label {
  flex: 1;
  -webkit-padding-end: var(--KEYJUMP-option-margin);
}

/*
  Taken from the class ".command-shortcut" in the built in Chrome 52 options
  styles.
*/
.option-shortcut input {
  display: inline-block;
  min-width: 12.5em;
  min-height: var(--KEYJUMP-shortcut-input-height);
  padding: 3px 0 1px 4px;
  /*
    Transparent color hides the caret in the input.
    The shortcut text is shown using the placeholder property.
  */
  color: transparent;
  border: solid 1px #bfbfbf;
  border-radius: 2px;
  font-size: inherit;
}

.option-shortcut input:focus {
  background: rgb(243, 244, 255);
  border-color: rgb(140, 147, 255);
}

.option-shortcut input::placeholder {
  color: rgb(48, 57, 66);
}
